
body {
    background-image: url(simon-berger-aZjw7xI3QAA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    overflow: hidden;
    font-family: Roboto Slab;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: 1px solid black;
    border-radius: 2px;
}

a {
    color: blue;
}

table {
    position: relative;
    top: 180px;
    background-image: linear-gradient(to bottom right, #7AA9D1,#9BC8FF);
    /* background-color:  rgb(175, 139, 90);*/
    box-shadow: 5px 8px 40px black;
    width: 254px;
    height: 2.4in;
    text-align: center;
    padding: 9px;
    border: 1px outset black;
    border-radius: 10px;
}

.btn {
    background-color: black;
    height: 2.5em;
    width: 40%;
    border-radius: 5px;
    color: floralwhite;
    border: none;
}

.btn:hover {
    background-color: skyblue;
    color: black;
    text-transform: uppercase;
    border: 1px solid black;
}

span {
    color: red;
}
tt{
    position: relative;
    left: -20px;
    color: limegreen;
}
